<header class="bg-primary pd-10 w-100">
  <div class="logo ff-pb clr-white">Marshall Enterprise</div>
</header>
<nav class="bg-primary pd-10">
  <ul class="ls-none dp-f gap-20 fl-j-center">
    <li class="pos-r">
        <span class="section-title ff-a clr-white button pd-10">Locations</span>
      <ul class="pos-ab ls-none dp-n" >
        <li><a href="/abinkyi">Abinkyi</a></li>
        <li><a href="/asokwa">Asokwa</a></li>
        <li><a href="/asafo">Asafo</a></li>
      </ul>
    </li>
    <li>
      <ul class="dp-f gap-20">
        <li class="pos-r dp-b w-fc">
              <span class="section-title  ff-a clr-white button pd-10">Doors</span>
          <ul class="ls-none pos-ab dp-n">
            <li><a href="/china-doors">China Doors</a></li>
            <li><a href="/turkey-doors">Heavy Doors</a></li>
          </ul>
        </li>
        <li class="pos-r dp-b w-fc ">
            <span class="section-title  ff-a clr-white button pd-10">Wooden Doors</span>
          <ul class="pos-ab ls-none dp-n">
            <li><a href="/china-wooden">China Wooden</a></li>
            <li><a href="/turkey-wooden">Turkey Wooden</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>