<% const cart = (new icons('cart-btn clr-secondary button', 'View Cart')).cartLine() %>
<header class="dp-f fl-j-s-a fl-a-center bg-primary pd-20 ">
  <div class="logo ff-pb clr-white">Marshall Enterprise</div>
  <%- cart %>
</header>
<nav class="mg-inline-10 mg-block-10 pd-10 dp-f f-j-center bg-dark">
  <ul class="main-menu dp-f fl-j-center w-100 gap-20 ls-none">
    <li class="sub-menu pos-r">
      <span class="section-title ff-a clr-white button">Location</span>
      <ul class="section ls-none pos-ab pd-20 dp-n fl-dr-c gap-10 bg-darker">
        <li class="section-item"><a class="clr-white button dp-f" href="/asafo">Asafo</a></li>
        <li class="section-item"><a class="clr-white button dp-f" href="/abinkyi">Abinkyi</a></li>
        <li class="section-item"><a class="clr-white button dp-f" href="/asokwa">Asokwa</a></li>
      </ul>
    </li>
    <li class="sub-menu pos-r">
      <span class="section-title ff-a clr-white button">Doors</span>
      <ul class="section ls-none pos-ab pd-20 dp-n fl-dr-c gap-10 bg-darker" >
        <li class="section-item"><a class="clr-white button dp-f" href="/heavy-doors">Turkey Doors</a></li>
        <li class="section-item"><a class="clr-white button dp-f" href="/china-doors">China Doors</a></li>
        <li class="section-item"><a class="clr-white button dp-f" href="/turkey-wooden">Turkey Wooden Door</a></li>
        <li class="section-item"><a class="clr-white button dp-f" href="/china-wooden">China Wooden</a></li>
      </ul>
    </li>
    
  </ul>
</nav>