<header>
  <div class="logo ff-pb clr-white bg-primary pd-20">Marshall Enterprise</div>
</header>
<nav class="mg-inline-20 pd-20 dp-f f-j-center bg-dark">
  <ul class="main-menu dp-f fl-j-center w-100 gap-20 ls-none">
    <li class="sub-menu pos-r">
      <span class="section-title ff-a clr-white button">Location</span>
      <ul class="section ls-none pos-ab pd-20 dp-n fl-dr-c gap-10 bg-darker">
        <li class="section-item"><a class="clr-white button" href="/asafo">Asafo</a></li>
        <li class="section-item"><a class="clr-white button" href="/abinkyi">Abinkyi</a></li>
        <li class="section-item"><a class="clr-white button" href="/asokwa">Asokwa</a></li>
      </ul>
    </li>
    <li class="sub-menu pos-r">
      <span class="section-title ff-a clr-white button">Doors</span>
      <ul class="section ls-none pos-ab pd-20 dp-n fl-dr-c gap-10 bg-darker" >
        <li class="section-item"><a class="clr-white button" href="/heavy-doors">Turkey Doors</a></li>
        <li class="section-item"><a class="clr-white button" href="/china-doors">China Doors</a></li>
        <li class="section-item"><a class="clr-white button" href="/turkey-wooden">Turkey Wooden Door</a></li>
        <li class="section-item"><a class="clr-white button" href="/china-wooden">China Wooden</a></li>
      </ul>
    </li>
    
  </ul>
</nav>