<main-section class="dp-f pd-20">
  <ul class="home-items-wrapper ls-none pd-none w-100">
    <li class="home-item-wrapper">
      <ul class="item-wrapper ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000010.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 h-fc br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000020.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000030.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000040.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000050.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000060.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000070.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
    <li class="home-item-wrapper">
      <ul class="item-wrapper bg-white ls-none pd-20 dp-f fl-dr-c gap-15 br-1px br-primary fl-a-center pos-re">
        <li class="pos-ab pd-10 ff-pb clr-white bg-primary">ghs price</li>
        <li><img loading="lazy" src="/images/000080.jpg" alt="" class="w-10"></li>
        <li class="w-100"><a href="#" class="button bg-darker clr-white dp-b pd-10 br-1px br-primary ff-pb ta-center br-radius-4">View</a></li>
        <li class="item-contrs dp-f fl-j-end gap-10 w-100 br-1px pd-10 br-radius-4 mg-inline-10">
          <a href="#" class="button bg-white clr-secondary pd-5 ff-pb">Buy now</a>
          <button class="button bg-primary clr-white pd-5 pd-inline-10 ff-pb br-radius-4">Add to Cart</button>
        </li>
      </ul>
    </li>
  </ul>
</main-section>