.home-items-wrapper{
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
}
.item-wrapper{
  height: 100%;
}
.item-wrapper li:first-child{
  top: -2px;
  right: -2px;
  background-color: var(--dark);
  z-index: 1;
  border-left: 10px solid var(--white);
  border-bottom: 10px solid var(--white);
  border-radius: 0  0 0 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px var(--black);
}
.item-wrapper li img{
 object-fit: contain;
 width: 300px;
 height: 300px;
 image-rendering: optimizeQuality;
 image-orientation: from-image;
}